body{
background:url("../imagenes/fondo.jpg") center/cover fixed;
font-family:Arial,sans-serif;
margin:0;
}

.contenedor{
background-color:rgba(0,0,0,0.7);
min-height:100vh;
padding:30px;
text-align:center;
color:white;
}

.titulo{
color:#e807f0;
font-size:50px;
}

.subtitulo{
font-size:18px;
}

.animes{
color:#f43f5e;
}

.buscador{
padding:10px;
width:250px;
border-radius:10px;
border:none;
}

.tabla{
background-color:rgba(255,255,255,0.1);
text-align:center;
}

.descripcion{
font-size:18px;
}

img{
border-radius:10px;
}

a{
text-decoration:none;
color:white;
}

h3{
color:white;
}