body{
background:url("../imagenes/naruto3.jpg") center/cover fixed;
font-family:Arial,sans-serif;
color:white;
margin:0;
}

.contenedor{
background-color:rgba(0,0,0,0.7);
min-height:100vh;
padding:30px;
}

header{
text-align:center;
}

.titulo{
font-size:50px;
color:#e77b33;
}

.subtitulo{
font-size:18px;
}

.titulo2{
color:#ffb703;
}

.titulo3{
color:#e77b33;
}

.parrafo{
font-size:18px;
text-align:justify;
}

.lista{
font-size:18px;
}

.personajes{
text-align:center;
color:#ffb703;
}

.tabla{
background-color:rgba(255,255,255,0.1);
font-size:18px;
text-align:center;
}

.encabezado{
background-color:rgba(231,123,51,0.5);
}

.menu{
text-align:center;
color:#ffb703;
}

img{
border-radius:10px;
}